settings:
  title: 'Status Page'
  url: 'https://status-page.eidam.dev' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: 'Some checks failed'

monitors:
  - id: realestatelawyers.ca # unique identifier
    name: RELS Website
    description: Hosted at VA and MK # default=empty
    url: 'https://www.realestatelawyers.ca/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false

  - id: outlook.realestatelawyers.ca
    name: RELS Exchange
    description: Hosted at VA and MK
    url: 'https://outlook.realestatelawyers.ca/owa'
    method: GET
    expectStatus: 200

  - id: upload.realestatelawyers.ca
    name: RELS Upload Service
    url: 'https://upload.realestatelawyers.ca/'
    method: GET
    expectStatus: 200
